<section id="about-us" class="about">
  <div class="container about-us-current">
    <div class="about-us">
      <h2 class="about-title">About Us</h2>
      <p class="about-text first">
        Welcome to our premium watch collection, where luxury and style meet
        functionality and precision. Our selection of timepieces embodies the
        very best in Swiss craftsmanship and engineering, ensuring that you'll
        always have a reliable and stylish accessory on your wrist.
      </p>
      <p class="about-text second">
        At our premium watch collection, we believe that a watch is more than
        just a timekeeping device – it's a statement piece that reflects your
        personality and style. So why settle for anything less than the best?
      </p>
      <a href="#catalog" class="about-button">View catalog</a>
    </div>
    <div class="about-img">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/about/about-desktop-1x.jpg 1x,
            ./img/about/about-desktop-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/about/about-tablet-1x.jpg 1x,
            ./img/about/about-tablet-2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="./img/about/about-mobile-2x.jpg 2x"
        />
        <img src="./img/about/about-mobile-1x.jpg" alt="about-desktop avatar" />
      </picture>
    </div>
  </div>
</section>
