<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <div class="footer-soccial">
        <a href="/index.html" class="footer-logo">watchcharm</a>
  
        <ul class="footer-soc-icon">
          <li class="footer-soc-icon-li">
            <a
                  href="https://www.facebook.com/goITclub/"
                  target="_blank"
                  class="footer-icon-li"
                >
                  <svg class="footer-icon" width="34" height="34">
                    <use href="./img/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
          </li>
          <li class="footer-soc-icon-li">
            <a
                  href="https://www.instagram.com/goitclub/"
                  target="_blank"
                  class="footer-icon-li"
                >
                  <svg class="footer-icon" width="34" height="34">
                    <use href="./img/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
          </li>
          <li class="footer-soc-icon-li">
            <a
                  href="https://www.youtube.com/c/GoIT"
                  target="_blank"
                  class="footer-icon-li"
                >
                  <svg class="footer-icon" width="34" height="34">
                    <use href="./img/icons.svg#icon-youtube"></use>
                  </svg>
                </a>
          </li>
        </ul>
      </div>
      <a href="tel:+380684439426" class="footer-tel">+380 (68) 443-94-26</a>
      <p class="footer-slogan">Have the time of your life with our watches: where high-class craftsmanship meets impeccable design</p>
  
      <div class="footer-nav-container">
        <ul class="footer-nav-ul">
          <li class="footer-nav-ul-li">
            <a href="#hero">Home</a>
          </li>
          <li class="footer-nav-ul-li">
            <a href="#about-us">About Us</a>
          </li>
          <li class="footer-nav-ul-li">
            <a href="#catalog">Catalog</a>
          </li>
          <li class="footer-nav-ul-li">
            <a href="#sale">Sale</a>
          </li>
          <li class="footer-nav-ul-li">
            <a href="#reviews">Reviews</a>
          </li>
          <li class="footer-nav-ul-li">
            <a href="#contact-us">Contact Us</a>
          </li>
        </ul>
        <address class="footer-address">
          1678 S. Pioneer Road Salt Lake City UT 84104
        </address>
      </div>
  
      <div class="footer-policy">
        <p class="footer-policy-p">&copy;2023 The Watch Spot. All rights reserved.</p>
        <ul class="footer-policy-ul">
          
          <li class="footer-policy-ul-li footer-policy-p">
            <p>Terms of Service</p>
          </li>
          <li class="footer-policy-ul-li footer-policy-p">
            <p>Privacy Policy</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
