<!-- ============ HEADER ============== -->
<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <a class="header-nav__logo-black" href="./index.html">watchcharm</a>
      <ul class="header-nav__list list">
        <li class="header-nav__item">
          <a class="header-nav__link link" href="./index.html">Home</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link link" href="./partials/about.html"
            >About Us</a
          >
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link link" href="./partials/catalog.html"
            >Catalog</a
          >
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link link" href="./partials/sale.html">Sale</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link link" href="./partials/reviews.html"
            >Reviews</a
          >
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link link" href="./partials/contact.html"
            >Contact Us</a
          >
        </li>
      </ul>
    </nav>
    <!-- ============ HEADER ICON ============== -->
    <div class="header__icon-wrapper">
      <ul class="header__icon-list">
        <li class="header__icon-item">
          <a href="" class="header__icon-link">
            <svg
              class="header__icon"
              aria-label="icon-facebook"
              width="16"
              height="16"
            >
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header__icon-item">
          <a href="" class="header__icon-link">
            <svg
              class="header__icon"
              aria-label="icon-instagram"
              width="16"
              height="16"
            >
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header__icon-item">
          <a href="" class="header__icon-link">
            <svg
              class="header__icon"
              aria-label="icon-youtube"
              width="16"
              height="16"
            >
              <use href="./images/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <!-- ============ HEADER Mobile Menu ============== -->
    <button class="mobile-menu__open" type="button">
      <svg
        class="mobile-menu__open-icon"
        aria-label="icon-menu"
        width="30"
        height="11.67"
        stroke="#0C0C0C"
      >
        <use href="./images/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
