<!-- ============ HEADER ============== -->
<header class="header">
  <div class="header-container container">
    <a class="header-nav__logo-black" href="./index.html">watchcharm</a>
    <nav class="header-nav">
      <ul class="header-nav__list list">
        <li class="header-nav__item">
          <a class="header-nav__link link" href="./index.html">Home</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link link" href="#about-us">About Us</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link link" href="#catalog">Catalog</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link link" href="#sale">Sale</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link link" href="#reviews">Reviews</a>
        </li>
        <li class="header-nav__item">
          <a class="header-nav__link link" href="#contact-us">Contact Us</a>
        </li>
      </ul>
    </nav>
    <!-- ============ HEADER ICON ============== -->
    <div class="header__icon-wrapper">
      <ul class="header__icon-list">
        <li class="header__icon-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="header__icon-link"
          >
            <svg
              class="header__icon"
              aria-label="icon-facebook"
              width="20"
              height="20"
            >
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header__icon-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="header__icon-link"
          >
            <svg
              class="header__icon"
              aria-label="icon-instagram"
              width="20"
              height="20"
            >
              20
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header__icon-item">
          <a href="https://www.youtube.com/c/GoIT" class="header__icon-link">
            <svg
              class="header__icon"
              aria-label="icon-youtube"
              width="20"
              height="20"
            >
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <!-- ============ HEADER Mobile Menu ============== -->
    <button class="mobile-menu__open" type="button">
      <svg
        class="mobile-menu__open-icon"
        aria-label="icon-menu"
        width="30"
        height="30"
        stroke="#0C0C0C"
      >
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
