<section class="hero" id="footer">
  <div class="container">
    <div class="hero-container">
      <div class="hero-div-title">
        <h1 class="hero-title">
          Welcome to our <span class="hero-accent-title">collection</span> of
          premium watches
        </h1>
        <p class="hero-p">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>

      <div class="hero-people">
        <ul class="hero-people-ul">
          <li class="hero-people-ul-li">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /img/hero/heroblond@1x.webp 1x,
                  /img/hero/heroblond@2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/hero/tabletheroblond@1x.webp 1x,
                  /img/hero/tabletheroblond@2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/hero/mobheroblond@1x.webp 1x,
                  /img/hero/mobheroblond@2x.webp 2x
                "
              />
              <img
                src="/img/hero/heroblond@1x.webp"
                alt="woman"
                width="60"
                height="60"
              />
            </picture>
          </li>

          <li class="hero-people-ul-li relative">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /img/hero/heroman@1x.webp 1x,
                  /img/hero/heroman@2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/hero/tabletheroman@1x.webp 1x,
                  /img/hero/tabletheroman@2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/hero/mobheroman@1x.webp 1x,
                  /img/hero/mobheroman@2x.webp 2x
                "
              />
              <img
                src="/img/hero/heroman@1x.webp"
                alt="man"
                width="60"
                height="60"
              />
            </picture>
          </li>

          <li class="hero-people-ul-li relative-two">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /img/hero/herowoman@1x.webp 1x,
                  /img/hero/herowoman@2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/hero/tabletherowoman@1x.webp 1x,
                  /img/hero/tabletherowoman@2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/hero/mobherowoman@1x.webp 1x,
                  /img/hero/mobherowoman@2x.webp 2x
                "
              />
              <img
                src="/img/hero/herowoman@1x.webp"
                alt="woman"
                width="60"
                height="60"
              />
            </picture>
          </li>
        </ul>
        <a class="hero-scroll-down" href="#footer">Scroll down</a>
      </div>
    </div>

    <div class="watch-hero">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="/img/hero/watch@1x.webp 1x, /img/hero/watch@2x.webp 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/hero/tabletwatch@1x.webp 1x,
            /img/hero/tabletwatch@2x.webp 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="/img/hero/mobwatch@1x.webp 1x, /img/hero/mobwatch@2x.webp 2x"
        />
        <img
          src="/img/hero/mobwatch@1x.webp"
          alt="watch"
      
        />
      </picture>
    </div>
  </div>
</section>
